$body-background-color: #d9c3b0;
$body-text-color: #260b01;
$time: 0.3s;

:root {
  // --background-color: #0f9ebc;
  --background-color: #0a2a43;
  --text-hover-color: #73482f;
  --text-color: #260b01;
  --text-pink-color: #ff8b8b;
  --gray-color: #bfbfbf;
  --gray-dark-color: #404040;
  --time: 0.3s;
  --background-color-dark-blue: #051521;
}

body {
  background-color: var(--background-color);
  margin: 0;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}
#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.start-loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

* {
  box-sizing: border-box; /* Учитываем отступы и границы в размерах */
}
