.right-welcome {
  position: relative;
}
.right-welcome img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .right-welcome {
    flex: 2;
  }
}

.right-welcome {
  width: 100%;
  height: 100%;
  opacity: 0.4;
}
