@use '@/static/styles/main.scss';
.nav-welcome {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}
.nav-welcome a {
  color: #0a2a43;
  text-decoration: none;
  margin: 0 15px;
  font-size: 1em;
  cursor: pointer;
  transition: color var(--time) ease;
}
.nav-welcome a:hover {
  color: black;
}
.nav-welcome.login a,
.nav-welcome.register a {
  color: white;
}
.nav-welcome.login a:hover,
.nav-welcome.register a:hover {
  color: var(--text-hover-color);
}
