.place__interactive {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 300px;
  padding: 5px;
  gap: 10px;
}
@media (max-width: 768px) {
  .place__interactive {
    width: 100%;
  }
}
.author-avatar {
  border-radius: 50%;
  cursor: pointer;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.place__comments {
  height: 100%;
  width: 100%;
}
.place__comment {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
}
.place__section-author {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.place__section-author-avatar {
  height: 60px;
  width: 60px;
  cursor: pointer;
}
.place__section-author-username {
  font-weight: bold;
  cursor: pointer;
}
