@use '@/styles/main.scss';

.welcome {
  &__form {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-content: flex-end;
    align-items: center;
    color: var(--text-color);
  }
  &__button {
    height: 50px;
    width: 100px;
    font-size: 15px;
    background-color: var(--gray-color);
    border-radius: 15px;
    cursor: pointer;
    color: var(--text-color);
  }
}
